@import url(../css/font.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.title h1 {
    text-align: center;
    margin: 40px;
    font-family: Lobster, sans-serif;
    color: red;
    letter-spacing: 20px;
}

.title--underlined {
    width: 500px;
    margin: 0 auto;
    border: 2px solid red;
    margin-bottom: 50px;
}

.title form {
    display: flex;
    justify-content: center;
    gap: 100px;
}


/* ----------------------------------------- */

.mess--merge {
    display: flex;justify-content: space-around;
}

.messenger--first {
    display: flex;
}




.messages--list__user{
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 200px;
    margin: 20px;
}




.function {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}
.function div ion-icon{
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 100px;
    color: black;
}

.icon--search{
margin-top: 20px;
width: 100%;
}
.icon--search input{
    width: 300px;
    height: 40px;
    padding-left: 50px;
    padding-right: 20px;
    border-radius: 100px;
    position: relative;
    right: 75px;
    border: none;
    outline: none;
    background-color: #F0F2F5;
}
.icon--search ion-icon{
    font-size: 20px;
    position: relative;
    right: 30px;
    top: 5px;
    padding-left: 50px;
    z-index: 99;
}
.btn--choose button{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px  20px ;
    border: none;
    background-color:white ;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
}
.btn--choose button:nth-last-of-type(2){
    background-color: rgb(221, 235, 255);
    color: rgb(2, 113, 187);

}
.btn--choose button:hover{
    background-color: rgb(223, 223, 223);
}


.messages--list__user ul li img,
.display-use div img {
    width: 70px;
    height: 70px;
    border-radius: 150px;
}
ul li{
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}
.list-user li strong{
position: relative;
bottom: 35px;
left: 10px;
}
.list-user li p{
display:flex ;

position: relative;
bottom: 29px;
left: 85px;


}
.list-user li p span{
color: #818181;
font-size: 16px;
margin-left: 20px;


}