@import url(../css/font.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: Lobster, sans-serif;
  color: red;
  letter-spacing: 20px;
}

.title--underlined {
  width: 500px;
  margin: 0 auto;
  border: 2px solid red;
  margin-bottom: 50px;
  animation: identifier 1.6s ease;
}

.title form {
  display: flex;
  justify-content: center;
  gap: 100px;
}

/* ----------------------------------------- */

.mess--merge {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.messenger--first {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.messages--list__user {
  margin: 20px;
  height: 780px;
}

.function {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.function div ion-icon {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 100px;
  color: black;
}

.icon--search {
  margin-top: 20px;
  width: 100%;
}

.icon--search input {
  width: 300px;
  height: 40px;
  padding-left: 50px;
  padding-right: 20px;
  border-radius: 100px;
  position: relative;
  right: 75px;
  border: none;
  outline: none;
  background-color: #f0f2f5;
}

.icon--search ion-icon {
  font-size: 20px;
  position: relative;
  right: 30px;
  top: 5px;
  padding-left: 50px;
  z-index: 99;
}

.btn--choose button {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  background-color: white;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
}

.btn--choose button:nth-last-of-type(2) {
  background-color: rgb(221, 235, 255);
  color: rgb(2, 113, 187);
}

.btn--choose button:hover {
  background-color: rgb(223, 223, 223);
}

.messages--list__user ul li img,
.display-use div img {
  width: 70px;
  height: 70px;
  border-radius: 150px;
  margin-top: 20px;
}

ul li {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
}

.list-user li strong {
  position: relative;
  bottom: 45px;
  left: 10px;
}

.list-user li p {
  display: flex;
  width: 70%;
  position: relative;
  bottom: 30px;
  left: 85px;
}

.list-user li p span {
  color: #818181;
  font-size: 16px;
  margin-left: 20px;
}

.list-user li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.display-use div {
  display: inline-block;
  font-size: 25px;
}

.display-use div img {
  width: 60px;
  height: 60px;
}

.display-use .active ion-icon {
  background-color: green;
  border-radius: 100px;
  border: none;
  color: white;
  margin-left: -27px;
  font-size: 15px;
}

.name-display b,
.name-display span {
  display: block;
  line-height: 16px;
  margin-left: 15px;
  margin-top: 23px;
}

.name-display span {
  font-size: 15px;
  position: relative;
  top: -10px;
}

.display-use .call ion-icon {
  font-size: 25px;
  padding: 10px 10px;
  color: rgb(0, 35, 151);
  border-radius: 90px;
}

.display-use .call ion-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.display-use .call {
  position: relative;
  top: -20px;
  left: 50px;
}

.mess-sent input {
  width: 460px;
  height: 35px;
  padding: 0 50px 0 20px;
  border-radius: 80px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.mess-sent ion-icon {
  padding: 6px;
  font-size: 20px;
  color: blue;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  position: relative;
  top: 11.5px;
  right: 40px;
  cursor: pointer;
}

.mess-sent ion-icon:hover {
  background-color: blue;
  color: white;
}

ul {
  height: 600px;
  overflow: auto;
  /* overflow-x: hidden; */
}

#messageTextarea {
  display: block;
  outline: none;
  margin-right: 30px;
  resize: none;
  font-size: 16px;
  width: 458px;
  height: 670px;
}

@keyframes identifier {
  0% {
    margin-left: 0px;
  }

  10% {
    margin-left: 100px;
  }

  20% {
    margin-left: 200px;
  }

  30% {
    margin-left: 300px;
  }

  40% {
    margin-left: 400px;
  }

  50% {
    margin-left: 500px;
  }

  60% {
    margin-left: 600px;
  }

  70% {
    margin-left: 700px;
  }

  100% {
    margin-left: 800px;
  }
}

.setting {
  background-color: rgba(0, 0, 0, 0.473);
  clip-path: polygon(
    3% 5%,
    7% 12%,
    100% 12%,
    100% 100%,
    75% 100%,
    0 100%,
    0 12%
  );
  width: 500px;
  height: 280px;
  position: absolute;
  top: 180px;
  display: none;
  transition: margin-left 5s ease;
}

.setting ul li:hover {
  background-color: rgb(66, 63, 63);
}

.setting ul li hr {
  width: 300px;
  margin: 0 auto;
}

.setting ul {
  /* margin-top: 30px; */
  padding: 40px;
}

.setting ul li {
  list-style: none;
  margin-top: 20px;
}

.setting ul li a {
  text-decoration: none;
  font-size: 25px;

  color: rgb(255, 255, 255);
  margin: 0 auto;
}

.setting ul li a ion-icon {
  color: white;

  margin: 0 20px 0 20px;
}

#check-check:checked ~ .setting {
  position: absolute;
  display: block;
  margin-left: 0px;
  transition: margin-left 5s ease;
  margin-left: 250px;
}
.btn-lock {
  background: rgb(0, 75, 189);
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: none;
  bottom: 10px;
  left: 20px;
  color: white;
  position: fixed;
  overflow: hidden;
}
.btn-lock::before {
  transition: left 0.5s ease;
  content: "";
  position: absolute;
  background: rgb(72, 89, 248);
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
}
.btn-lock label {
  position: relative;
  z-index: 88;
  font-size: 10px;
}
.btn-lock:hover::before {
  left: 0;
}

.test--box {
  position: fixed;
  top: 360px;
  left: 70px;

  background-color: #bddbdd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(121, 118, 118, 0.1); /* Đổ bóng */
}

.box--search {
  width: 310px;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.btn--box__search {
  padding: 8px 37px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
textarea {
  display: block;
}
#test--checkbox:checked ~ .test--box {
  display: block;
}
